<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Youtube Downloader</title>
</head>
<body>
    {% if messages %}
        <ul>
            {% for message in messages %}
            <li> {{message}} </li>
        {% endfor %}
        </ul>
        {% endif %}
    <form action="" method="POST">
        {% csrf_token %}
        
        <label for="url">Enter url</label>
        <input type="text" name="link" id="url">
        <input type="submit" value="Submit">
    </form>
</body>
</html>